{{page-title "Contact"}}

<div class="d-flex justify-content-center align-items-center vh-100">
<p>EMAIL: <a href="mailto:kmoss.mois@gmail.com" target="_blank" rel="noopener noreferrer">kmoss.mois@gmail.com</a> <br>
        TELEGRAM: @Mossisatree <br>
        SIGNAL: kaldi_moss.13 <br>
        MOB : +918168931725 <br>
        INSTA : @kaldi_moss</p>
</div>
{{outlet}}