{{page-title "Reviews"}}

<div class="flex-box mx-auto p-3">

<h1> Reviews and Interviews</h1>

<p>  <a href="https://artmeets.podigee.io/s2e8-new-episode"> 2024 Art meets podcast episode 'Possibilities' </a> |   <a href="https://prohelvetia.ch/en/whats-on/art-meets-podcast-season-two/"> Art Meets.. Website </a></p>

<p>2023 Stirworld: <a href="https://www.stirworld.com/think-opinions-talks-on-art-tech-and-law-align-disrupt-conversations-at-iaf-2023" target="_blank" rel="noopener noreferrer">Talks on art, tech and law 'Align &amp; Disrupt' conversations at IAF 2023</a></p>

<p>2023 Livemint: <a href="https://lifestyle.livemint.com/amp/how-to-lounge/art-culture/the-future-of-tech-art-is-human-111676174914157.html" target="_blank" rel="noopener noreferrer">The future of tech-art is human</a></p>
<p>2022 Interview with Inka Magazine - Karlsruhe city magazine (print)</p>
<p>2022 India Art Fair panel : <a href="https://youtu.be/g2aHHcgN83o" target="_blank" rel="noopener noreferrer">Artistic Practice: Mediatic Environments</a></p>
<p>2021 <a href="https://two.compost.digital/reverence-for-the-spaces-in-between/" target="_blank" rel="noopener noreferrer">Reverence for spaces in-between</a>, Interview with <a href="https://two.compost.digital/" target="_blank" rel="noopener noreferrer">Compost digital</a> online magazine</p>
<p>2021 Creatrix Mag: <a href="https://creatrixmag.com/touching-the-unknown/" target="_blank" rel="noopener noreferrer">Touching the Unknown</a></p>
<p>2021 Deep fried neurons podcast: <a href="https://anchor.fm/deep-fried-neurons/episodes/99---Ecological-Footprints-of-Colonisation-and-Anthropocene-Interventions-ft--Sultana-Zana-ep5v3k" target="_blank" rel="noopener noreferrer">Ecological Footprints of Colonisation and Anthropocene Interventions</a></p>
<p>2020 InterAccess, Toronto: <a href="https://youtu.be/1lNUJ2JCHO4" target="_blank" rel="noopener noreferrer">Sustainable Approaches to Making - panel discussion</a></p>
<p>2019 Indian Express: <a href="https://indianexpress.com/article/lifestyle/art-and-culture/earth-to-earth-sultana-zana-artist-man-nature-conflict-5806889/" target="_blank" rel="noopener noreferrer">Artist Sultana Zana on her new project in the Himalayas that focuses on the conflict between man and nature</a></p>
<p>2019 Hindustan times : <a href="https://www.walkinstudios.com/?lightbox=dataItem-kbuex3rv1" target="_blank" rel="noopener noreferrer">Decoding chaos</a></p>

</div>

{{outlet}}