{{page-title "Studio"}}

{{!-- {{get @model.nicola.slug}}

<audio controls>
  <source src={{@model.nicola.modules.url}} type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
  --}}

<div class="d-flex justify-content-center align-items-center vh-100">

<img class="img-fluid" src="assets/img/studio.png" alt="Alchemy, instruemtns, research, repair">

</div>

{{outlet}}