{{page-title "SummerZurich"}}
<TopBar />

    <div id="twoscrolll" class="min-vh-100">
        This is the left side
    </div>
    
    <div id="twoscrollr">
        this is the right side.
    </div>

{{outlet}}