{{page-title "Texts"}}

    <TopBar />

   
        <div class="row">
            <div class="col-2 sidebar mx-3 my-2">
                
                <div class="m-1 p-2 border-top border-bottom border-dark">
                    <LinkTo @route="general-atm"> General Atmosphere - The instrument </LinkTo>
                    <div class="date">April 2025 | project | period </div> 
                </div>
                <div class="m-1 p-2 border-top border-bottom border-dark">
                    <LinkTo @route="summer-zurich"> The summer of Zurich </LinkTo>
                </div>

                <div class="m-1 p-2 border-top border-bottom border-dark">
                    <LinkTo @route="summer-zurich"> Benthos Research </LinkTo>
                </div>

                <div class="m-1 p-2 border-top border-bottom border-dark">
                    <LinkTo @route="summer-zurich"> www to dapp timeline </LinkTo>
                </div>

                <div class="m-1 p-2 border-top border-bottom border-dark">
                    <LinkTo @route="summer-zurich"> Frame of Refernce-Research </LinkTo>
                </div>
            
            </div>
            

            <div class="col-9">
          
                Content comes here
            </div>


        </div>
   

{{outlet}}